body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: linear-gradient(rgb(97, 94, 94), black);
    width: 100vw;
    height: 100vh;
    margin: 0;
}

.container {
    text-align: left;
    padding: 1.4rem;
    margin: 0 auto;
    bottom: 1rem;
    display: flex;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.736) 50%, aqua 100%);
    filter: grayscale(80%);
    width: 40rem;
    height: 50rem;
    border-radius: 1rem;
    transition: all 5s;
}
.container:hover{
    filter: grayscale(0%);
}

.text h1 {
    padding-bottom: 1rem;
    border-bottom: 2px solid rgb(140, 197, 202);
    font-size: 2.3rem;
}

.text p {
    word-spacing: 0.2rem;
    letter-spacing: 0.15rem;
    line-height: 1.5;
    font-size: 1.5rem;
}

.logos {
    bottom: 1.6rem;
    margin: 0 auto;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    font-size: 10rem;
}

.logos a {
    width: 8rem;
    height: fit-content;
    text-align: center;
    filter: grayscale(100%);
    transition: all 0.2s;
}

.logos a:hover{
filter: grayscale(0%);
}

#twitter i {
    color: #43BDEF;

}

#twitch i {
    color: #A970FF;

}

#whats i {
    color: #00A356;
}

#linkedin i {
    color: #0274B3;
}

#github i {
    border-radius: 50%;
    padding: 0.5px;
    color: rebeccapurple;
}